<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flatfolio - Flat File Portfolio</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="bower_components/lemonade/css/lemonade.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/slice/css/slice.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
    <div class="frame">
        <div class="bit-1 logo-holder">
            <div class="logo">
                <b>Flat</b>folio - <span>Flat File Portfolio</span>
            </div>
        </div>
    </div>
    {% for row in galleries|batch(3, null) %}
        <div class="frame">
            {% for gallery in row %}
                {% if gallery is null %}
                    <div class="bit-3 gallery-tile"></div>
                {% else %}
                    <div class="bit-3 gallery-tile">
                        <div class="gallery-tile-caption">{{ gallery.name }}</div>
                        <div class="gallery-tile-actions">&#59168; &#59146;</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </body>
</html>
