<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flatfolio - Flat File Portfolio</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="bower_components/lemonade/css/lemonade.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/slice/css/slice.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
    <div class="frame">
        <div class="bit-1 logo-holder">
            <div class="logo">
                <b>Flat</b>folio - <span>Flat File Portfolio</span>
            </div>
        </div>
    </div>
    {% for gallery, i in galleries %}
        {% if i % 3 == 0 %}<div class="frame">{% endif %}
        <div class="bit-3 gallery-tile">
            <div class="gallery-tile-caption">Lorem Ipsum</div>
            <div class="gallery-tile-actions">&#59168; &#59146;</div>
        </div>
        {% if loop.last %}
            {% set modulo = 2 - (galleries|length % 3) %}
            {% for j in 0..modulo %}
                <div class="bit-3 gallery-tile"></div>
            {% endfor %}
        {% endif %}
        {% if i % 3 == 2 or loop.last %}</div>{% endif %}
    {% endfor %}
    </body>
</html>
